@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-foreground: #171717;
}

.dark {
  --background: #000000;
  --foreground: #ededed;
  --gray-foreground: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-foreground: var(--gray-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background-color 300ms ease,
    color 300ms ease;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
